.container {
    width: 1280px;
    margin: 0 auto;

    @include laptop { width: 768px; }
    @include tablet { width: 560px; }
    @include mobile {
        width: auto;
        margin: 0 40px;
    }

    &-fo-nav {
        padding-top: 100px;
    }
}

.home {
    &-body {
        background-color: var(--secondary);

        a:hover {
            text-decoration: underline;
            * {
                text-decoration: none;
            }
        }

        .btn-primary, .btn-secondary {
            border: none;
            border-radius: 5px;
            font-family: Roboto;
            font-size: 16px;
            transition: .15s background-color;
        }
        .btn-primary {
            background-color: var(--primary);
            color: white;
            &:hover {
                background-color: var(--primary-darken);
            }
        }
        .btn-secondary {
            background-color: var(--background);
            color: var(--primary);
            &:hover {
                background-color: var(--secondary-darken);
            }
        }

        iframe {
            border-radius: 8px;
        }

        img {
            @include tablet {
                width: 100% !important;
            }
        }

        h1, h2, h3, h4 {
            letter-spacing: .02rem;
            font-family: Poppins;
        }

        article {
            width: 80%;
            margin: 40px auto;
            letter-spacing: .02rem;
            
            @include mobile {
                width: auto;
            }

            p, li {
                font-size: large;
                line-height: 2rem;
                @include mobile {
                    font-size: normal;
                }
            }
        }
    }
    
    &-main-container {
        picture img {
            pointer-events: none;
        }

        h1.header {
            font-family: Poppins;
            font-weight: 400;
            font-size: 48px;

            @include laptop { font-size: 32px; }
        }
        p.content, div.content {
            font-family: Roboto;
            line-height: 153.6%;
        }

        .hero {
            height: 100vh;
            display: flex;
            box-sizing: content-box;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;

            @include mobile {
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                height: auto;
                padding-top: 120px;
            }

            .contain {
                display: flex;
                flex-direction: column;
                gap: 20px;

                header {
                    h1 {
                        margin-bottom: -14px;
                    }
                }

                .buttons {
                    display: flex;
                    gap: 16px;

                    .btn-primary, .btn-secondary {
                        padding: 14px 25px;
                    }
                }
            }

            .image img {
                width: 100%;
            }
        }
        .feature {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2cm auto;

            .contain {
                width: 45%;
            }
            .image {
                display: flex;
                justify-content: flex-end;
            }

            @include laptop {
                gap: 30px;

                .contain, .image {
                    flex: 1;
                }
                .image img {
                    width: 100%;
                }
            }

            @include mobile {
                margin: 3cm 40px;
                flex-direction: column !important;

                .contain {
                    width: auto;
                }
            }
        }
        .qoutes {
            height: 60vh;

            @include mobile {
                height: 593px;
            }
        }
        .lain-qoutes {
            background: #111720;
            position: relative;

            .text {
                position: absolute;
                width: 100%;
                z-index: 2;
                top: 50%;
                transform: translateY(-50%);

                h1, p {
                    max-width: 70%;
                    @include mobile {
                        max-width: fit-content;
                    }
                }
                p {
                    font-family: Roboto;
                    font-size: 24px;
                    @include tablet {
                        font-size: 20px;
                    }
                }
            }

            .lain-bg {
                height: 100%;
                width: 60%;
                right: 0;
                top: 0;
                position: absolute;
                background-size: cover;
                background-repeat: no-repeat;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(104deg, #111720 17.29%, rgba(17, 23, 32, 0.39) 89.97%);
                }

                @include tablet {
                    width: 100%;
                    background-position: 50% 50%;
                    &::after {
                        background: linear-gradient(0deg, #111720 0%, rgba(17, 23, 32, 0.39) 89.97%);
                    }
                }
            }
        }
        section.last {
            height: 100vh;
            position: relative;

            .contain {
                text-align: center;
                position: absolute;
                width: fit-content;
                height: fit-content;
                inset: 0;
                margin: auto;

                h1 {
                    width: 700px;
                    @include laptop {
                        width: 380px;
                    }
                }
                .btn-primary {
                    margin: auto;
                    margin-top: 20px;
                    width: fit-content;
                    font-size: 20px;
                    padding: 18px 40px;
                }
            }

            .in1, .in2 {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: auto;
                @include tablet {
                    display: none;
                }
            }
            .in1 { left: 50px; }
            .in2 { right: 50px; }

            @include laptop {
                .in1 { width: 20rem; }
                .in2 { width: 20rem; }
            }
        }
    }
}

.end {
    background: var(--background);
    box-sizing: content-box;
    padding: 60px 0;
    .name {
        display: flex;
        align-items: center;
        gap: 18px;
        h2 {
            font-family: Poppins;
        }
    }
    .desc {
        margin-top: 14px;
        width: 452px;
        font-family: Roboto;
        line-height: 153.7%;

        @include mobile {
            width: auto;
        }
    }
    .copy {
        margin-top: 28px;
        font-size: 14px;
    }
}