@import "../breakpoints.scss";

.navbar {
    position: fixed;
    width: 100vw;
    background-color: #152130be;
    backdrop-filter: blur(24px);
    padding: 20px 0;
    z-index: 10;

    @include laptop {
        .app_logo {
            width: 2.5rem;
            height: auto;
        }
    }

    .container {
        width: 1280px;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        display: flex;

        @include laptop { width: 768px; }
        @include tablet { width: 560px; }
        @include mobile { width: auto; }
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 18px;

        .name {
            font-size: 24px;
            font-family: Poppins;
            font-weight: 700;
        }
        
        @include laptop {
            gap: 12px;
            .name { font-size: 20px; }
        }
    }

    .navs {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 60px;

        @include laptop {
            gap: 40px;
        }

        li {
            a {
                color: white;
                transition: .15s opacity;
                opacity: .8;
                font-family: Roboto;
                font-size: 18px;
                
                @include laptop {
                    font-size: 14px;
                }
                
                &:hover {
                    opacity: 1;
                }
            }
            
            &.auth {
                display: flex;
                gap: 14px;

                .btn {
                    padding: 14px 30px;
                    font-family: Roboto;
                    color: white;
                    font-size: 16px;
                    border-radius: 8px;

                    @include laptop {
                        padding: 10px 20px;
                        font-size: 14px;
                    }

                    &-login, &-signup {
                        border: 2px solid var(--primary, #277AE7);
                        transition: .15s;
                    }
                    &-login {
                        background-color: var(--primary);
                        &:hover {
                            background-color: var(--primary-darken);
                        }
                    }
                    &-signup {
                        background-color: transparent;
                        &:hover {
                            background-color: var(--secondary-darken);
                            border-color: transparent;
                        }
                    }
                }
            }
        }
    }
}