@keyframes loading-anim {
    from { rotate: 0deg; }
    to { rotate: 360deg; }
}

.loading-component {
    svg {
        width: 1.8em;
        height: 1.8em;
        animation: .5s loading-anim infinite ease-in-out;
    }
}