body {
    margin: 0 auto;
    padding: 0;
    background-color: var(--background);
    font-family: var(--font-noto-sans);
    color: var(--text);
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--primary);
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
    @include mobile {
        width: 8px;
    }
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 20px;
    &:hover {
        background-color: var(--primary-darken);
    }
}