.chat-intro {
    margin: auto;
    opacity: .8;
    text-align: center;
    width: 80%;
}

.chats {
    display: flex;
    margin: 0 auto;
    width: 1280px;
    height: 100vh;

    @include laptop {
        width: auto;
        margin: 0 20px;
    }

    .side-chats {
        flex: 1;
        background-color: var(--secondary);
        position: relative;
        
        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            background-color: var(--accent);
            padding: 10px;

            .user {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    background-color: var(--backgound);
                    border-radius: 999px;
                }
            }
            button {
                background: none;
                border: none;
                svg {
                    fill: white;
                    width: 1.3em;
                    height: auto;
                }
            }
        }

        .searchbar, .user-list {
            padding: 0 14px;
        }

        .searchbar {
            margin: 20px 0;
            input {
                padding: 12px 15px;
                width: 100%;
                background-color: var(--secondary-darken);
                border: none;
                border-radius: 12px;
                color: white;
            }
        }
        .user-list {
            display: flex;
            flex-direction: column;
            gap: 7px;
            position: relative;

            .loading-component {
                margin: auto;
                margin-top: 20px;
            }
        }
        .no-user {
            margin-top: 120px;
            text-align: center;
        }
    }
    .main-chat {
        flex: 3;
        background-color: var(--secondary-darken);
        border: 1px solid var(--primary-doomer);
        display: flex;
        flex-direction: column;

        .top-chat {
            background-color: var(--accent);
            display: flex;
            color: white;
            padding: 10px;
        }
        
        .chats-body {
            flex-grow: 1;
            overflow-y: scroll;
            position: relative;

            .no-msg {
                position: absolute;
                width: fit-content;
                bottom: 50px;
                opacity: .6;
                left: 50%;
                transform: translateX(-50%);
            }

            .loading {
                margin: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;

                .loading-component > svg {
                    width: 3em;
                    height: auto;
                }
            }

            .chat {
                margin: 20px;
                display: flex;
                gap: 12px;
                align-items: flex-start;
                justify-content: flex-end;

                &-receiver {
                    flex-direction: row-reverse;
                }

                .chat-wrapper {
                    max-width: 60%;

                    .msgbox {
                        background-color: var(--secondary);
                        padding: 18px;
                        border-radius: 8px;
                        width: fit-content;
                        .username {
                            font-weight: bold;
                            color: var(--primary);
                            margin-bottom: 6px;
                        }
                        .msg {
                            word-wrap: break-word;
                        }
                    }

                    .image {
                        margin-top: 10px;
                        width: 400px;

                        img {
                            width: 100%;
                            height: auto;
                            border-radius: 8px;
                        }
                    }
                }
                &-sender {
                    .chat-wrapper {
                        .msgbox {
                            margin-left: auto;

                            .username {
                                color: var(--green);
                            }
                        }
                    }
                    .image {
                        margin-left: auto;
                    }
                }
                .profile {
                    border-radius: 99px;
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                }
                        
            }
        }
        .msg-input {
            background-color: var(--secondary);
            padding: 10px;

            .file-preview {
                margin: 10px;
                img {
                    width: 300px;
                    border-radius: 8px;
                }
            }
            
            .msg-wrapper {
                display: flex;
                gap: 10px;
                
                input[type=text] {
                    height: 45px;
                    padding: 0 20px;
                    background-color: var(--secondary-darken);
                    border: 1px solid var(--primary-doomer);
                    border-radius: 99px;
                    flex-grow: 1;
                    color: white;
                    font-size: medium;
                }
                .file-input {
                    width: 50px;
                    label {
                        cursor: pointer;
                        svg {
                            fill: var(--primary);
                            height: 100%;
                            padding: 10%;
                            width: auto;
                        }
                    }
                    input[type=file] {
                        display: none;
                    }
                }
    
                button {
                    height: 45px;
                    width: 45px;
                    background-color: var(--primary);
                    border: none;
                    border-radius: 99px;
                    position: relative;
    
                    &.loading {
                        background-color: var(--primary-doomer);
                    }
    
                    svg {
                        fill: var(--text);
                        position: absolute;
                        left: 50%;
                        top: 52%;
                        transform: translate(-50%, -50%);
                    }
                    .loading-component {
                        transform: translateX(-50%) translateY(1px);
                        svg {
                            fill: var(--text);
                            position: relative;
                            transform: translate(0, 0);
                        }
                    }
                }
            }

        }

        .no-user {
            margin: auto;
            text-align: center;
            button {
                margin-top: 14px;
                color: white;
                border: none;
                border-radius: 8px;
                background-color: var(--primary);
                padding: 12px 30px;
            }
        }
    }
}

button.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    background-color: transparent;
    border: none;
    color: white;
    text-align: left;
    font-family: var(--font-noto-sans);
    width: 100%;
    
    .info {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 99px;
        }
        .text {
            .username {
                font-weight: bold;
            }
            .chat {
                font-size: small;
            }
        }
    }
    .btn {
        .btn-add {
            border: none;
            background-color: var(--primary);
            padding: 8px;
            border-radius: 6px;
            transition: .2s;
            svg {
                fill: white;
                width: 1.8em;
                height: auto;
            }
            &:hover {
                background-color: var(--primary-darken);
            }
            &[disabled] {
                background-color: var(--primary-doomer);
            }
        }
    }
    cursor: pointer;
    &:hover {
        background-color: var(--secondary-darken);
    }
}