:root {
    --primary: #277ae7;
    --primary-darken: #1b69cf;
    --primary-doomer: #277ae749;

    --secondary: #152130;
    --secondary-darken: #111720;

    --green: #19e6a2;
    --red: #e7184c;
    --red-dark: #ca103e;

    --text: white;
    --background: #03070f;
    --accent: #1761c1;
}