:root {
    --primary: #277ae7;
    --primary-darken: #1b69cf;
    --primary-doomer: #277ae749;

    --secondary: #061b37;
    --secondary-darken: #03152c;

    --green: rgb(25, 230, 162);

    --text: white;
    --background: #020b1b;
    --accent: #1761c1;
}