.form-fadder {
    height: 100vh;
    display: flex;

    .form-container {
        padding: 30px;
        border-radius: 12px;
        margin: auto;
        display: grid;
        grid-template-columns: 30% 70%;

        header {
            color: white;
            background-color: var(--accent);
            padding: 30px;
            border-radius: 15px 0 0 15px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            position: relative;

            h1 {
                font-family: var(--font-poppins);
                line-height: normal;
            }

            .form-auths {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }

        .form-wrapper {
            background-color: white;
            padding: 40px;
            border-radius: 0 15px 15px 0;
            background-color: var(--secondary);
            
            form {
                display: flex;
                gap: 30px;
                margin: 0 auto;

                .form-file {
                    label {
                        fill: var(--primary);
                        color: var(--primary);
                        cursor: pointer;
                        transition: .2s opacity;
    
                        &:hover {
                            opacity: .8;
                        }
                    }
                    input[type=file] {
                        display: none;
                    }
                }
    
                .form-control {
                    display: flex;
                    flex-direction: column;
                    gap: 18px;
                    width: 100%;
    
                    .form-item {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
    
                        label {
                            font-size: 14px;
                            display: block;
                        }
                        input {
                            background-color: var(--secondary-darken);
                            font-family: var(--font-noto-sans);
                            border: 1px solid var(--primary-doomer);
                            color: white;
    
                            &::placeholder {
                                font-size: 14px;
                            }
                        }
                        input, button {
                            border-radius: 6px;
                            font-size: 16px;
                            padding: 15px;
                        }

                        &[aria-required] {
                            label::after {
                                content: " *";
                                color: red;
                            }
                        }
                    }
                    .form-error {
                        color: var(--red);
                    }
                }
            }
        }

        &__w-auto {
            width: 1080px;

            &-smol { width: 800px; }
        }
        &__h-auto {
            height: 580px;
        }
        &__grid-slice-dope {
            grid-template-columns: 40% 60%;
        }
    }
}

.btn-submit {
    border-radius: 6px;
    padding: 20px !important;
    border: none;
    background-color: var(--primary);
    padding: 20px;
    font-family: var(--font-montserrat);
    font-weight: bold;
    color: white;
    height: 70px;
    transition: .2s background-color;

    &:hover {
        background-color: var(--accent);
    }
    &[disabled] {
        background-color: var(--primary-doomer);
    }
}

.btn-auth-another {
    background-color: white;
    border-radius: 6px;
    padding: 12px;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--accent);
    font-weight: bold;
    transition: .2s;

    svg, img {
        width: 23px;
        height: auto;
    }

    &:hover {
        background-color: #ffffffe3;
    }
}

.static__svg-flies {
    position: absolute;
    bottom: 0;
    left: 0;

    svg {
        position: absolute;
        bottom: 20px;
        left: 0;
    }
}