.cover-bg {
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal-side-notif {
    position: fixed;
    left: 20px;
    top: 20px;
    background-color: var(--secondary);
    padding: 20px;
    border: 1px solid var(--primary-doomer);
    border-radius: 8px;
    transition: 0.5s left;
    z-index: 50;

    h3 {
        color: var(--primary);
        margin-bottom: 8px;
    }
}

.modal-add-contact {
    position: absolute;
    inset: 0;
    margin: auto;
    padding: 20px;
    background-color: var(--secondary);
    width: 420px;
    height: fit-content;
    border-radius: 12px;

    @include mobile {
        margin: auto 30px;
        width: auto;
    }

    h2 { margin-bottom: 18px; }

    .search-bar {
        margin-bottom: 20px;
        input {
            background-color: var(--secondary-darken);
            border: 1px solid var(--primary-doomer);
            padding: 16px;
            width: 100%;
            border-radius: 8px;
            color: white;
        }
    }
    .result-field {
        height: 220px;
        overflow-y: scroll;
        position: relative;

        @include mobile {
            height: 180px;
        }

        .no-user {
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.modal-logout {
    background-color: var(--secondary);
    padding: 30px;
    width: fit-content;
    border-radius: 8px;

    @include mobile {
        width: auto;
    }

    h2 {
        margin: 20px;
    }
}

.modal-delete {
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 8px;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    position: absolute;

    @include mobile {
        width: auto;
        margin: auto 20px;
    }
}

.desicion {
    display: flex;
    gap: 8px;
    margin-top: 30px;

    button {
        flex: 1;
    }
}

.modal-image-viewer {
    position: absolute;
    margin: auto;
    inset: 0;
    width: fit-content;
    height: fit-content;
    text-align: center;

    img {
        height: 75vh;
        width: auto;
        border-radius: 8px;
        display: block;

        @include mobile {
            height: auto;
            width: 80vw;
        }
    }
    .show-more {
        margin-top: 18px;
        border: none;
        padding: 14px 24px;
        border-radius: 99px;
        background-color: var(--secondary);
        color: white;
        &:hover {
            background-color: var(--secondary-darken);
        }
    }

    
    .btn-close {
        position: absolute;
        top: -40px;
        right: -40px;
    }
}

.close-panel {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.btn-close {
    background: none;
    border: none;
    margin-left: auto;
    display: block;

    svg {
        width: 2.5em;
        height: auto;
    }
}