.flex {
    display: flex;
    gap: 8px;
}

.flex-1-1 > * {
    flex: 1 1;
}

.text-center {
    text-align: center;
}

.font-bold {
    font-weight: bold;
}

.pb-normal {
    padding-bottom: 10px;
}

.pb-mid {
    padding-bottom: 16px;
}

.pb-large {
    padding-bottom: 24px;
}